{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body  %}
    <form id="Form_connexion" action="">
        <h4>Connexion</h4>
        <br>
        <label for="Identifiant :">Identifiant :</label>
        <input type="text"> </input>
        <label for="Mots de passe">Mot de passe : </label>
        <input type="password"></input>
        <input id="btn_connexion" type="submit" value="Connexion"></input>
    </form>
{% endblock %}
