<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block style %}{% endblock %}        
        <link href="{{ 'css/style.css' }}"       rel="stylesheet"/>
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
