<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <title>La Présentation | {% block title %}Welcome!{% endblock %}</title>
        {% block style %}
            <link rel="stylesheet" href="{{ 'css/style.css' }}"/>
        {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>

    {% block background %}
    <body>

            <div class="nobackground">
    {% endblock %}

                {% block header %}
                    {% include "/Header.html.php" %}
                {% endblock %}

                {% include "/perm_content.html.php" %}

                {% block body %}{% endblock %}

                {% block footer %}
                    {% include "/Footer.html.php" %}
                {% endblock %}

                {% block javascripts %}{% endblock %}

            </div>
    </body>

</html>
