<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <title>La Présentation | {% block title %}Welcome!{% endblock %}</title>
        {% block favicon %}
        <link rel="icon" type="image/png" href="favicon.png">
        {# if you need to change the address #}
        {% endblock %}
        {% block style %}
            <link rel="stylesheet" href="{{ 'css/style.css' }}"/>
        {# CSS goes here #}
        {% endblock %}
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.10.2/css/all.css">


    </head>

    
    <body>

            {% block header %}
                {% include "/Header.html.twig" %}
            {# to use the admin header, add this to a template:
                {% include "/HeaderAdmin.html.twig" %}
            #}
            {% endblock %}

            <div class="container" id="container">
                <div class="background">
                    <br>
            {% block body %}
            {# main content goes here in templates #}
            {% endblock %}
                </div>
            </div>

            {% include "/perm_content.html.twig" %}

            {% block footer %}
                {% include "/Footer.html.twig" %}
            {% endblock %}

            {% block javascripts %}
            {# to add a script, add this to a template:
                <script type="text/javascript" src="js/FILENAME.js"></script>
            #}
            <script type="text/javascript" src="js/background/background.js"></script>
            {% endblock %}

    </body>

</html>
