<footer>
    <div class="footer">
        <div class="presentation"><a href="/presentation">Présentation</a></div>
        <div><a href="/#gmaps">Adresse</a></div>
        <div><a href="/#formulaire_contact">Contact</a></div>
        <div><a href="https://www.facebook.com/ecolesaintemariedelapresentationarras/" target="_blank">Réseau</a></div>
        <div class="mentions"><a href="/mentions_legales">Mentions légales</a></div>
    </div>
</footer>