<nav class="navbar">

    <div class="horizontal">

        <a href="/accueil"><img id="logoecole" src="\img\LogoEcole\logoecole.png"></a>
        <div class="presentation">
            <a href="/presentation">Présentation</a>
        </div>
        <div class="classes">
            <a href="/classes">Nos Classes</a>
        </div>
        <div class="equipe">
            <a href="/equipe_pedagogique">Équipe pédagogique</a>
        </div>
        <div class="evenements">
            <a href="/evenements">Evenements</a>
        </div>
        <div class="connexion">
            <a \href="/connexion">Connexion</a>
        </div>

    </div>

</nav>