{% extends 'base.html.twig' %}

{% block title %}En Construction{% endblock %}

{% block body  %}

    <div class= "container">
        <div>
            <h4>Site en construction</h4>

            <hr width="20%" color= "black" align="left">

            <div class="construction">
                <img class="imgConstruct" src="img\LogoEcole\icn-casque.png">
                
                <div>
                    <h1>Revenez dans quelques temps!</h1>
                </div>
            </div>
                
        </div>
    </div>

{% endblock %}