{% extends 'base.html.twig' %}

{% block body  %}

    <div class= "container">
        <div>
            <h4>Site en construction</h4>

            <hr width="20%" color= "{# color of folder #}" align="left">

            <img src="img\LogoEcole\icn-casque.png">
            
            <div>
                Revenez dans quelques temps!
            </div>
                
        </div>
    </div>

{% endblock %}