<div class="icon-bar">
    <a href="https://www.facebook.com/ecolesaintemariedelapresentationarras/" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.google.com/maps?ll=50.289873,2.776971&z=15&t=m&hl=fr&gl=FR&mapclient=embed&cid=15364531625531735332" class="map-marker" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
    <a href="mailto:lapresentation@orange.fr" class="envelope" target="_blank"><i class="fas fa-envelope"></i></a>
</div>