{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block background %}
<body background="img\Biblio\Biblio1.jpeg">
    <div class="background">
{% endblock %}

{% block body %}


    <h1 class="titre">
        Enseignement catholique <br>
        Sainte Marie de la Présentation
    </h1>

    <div class="slideshow-container" id="slider_accueil">

        <div class="mySlides">
            <img class="image_accueil" src=".\img\Facade\facade5.jpeg">
        </div>

        <div class="mySlides">
            <img class="image_accueil" src=".\img\CoursRecre\cours.jpeg">
        </div>

        <div class="mySlides">
            <img class="image_accueil" src=".\img\Biblio\Biblio1.jpeg">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>

    <br>

    <div class="horaire">
        <hr color="black">
        <h2>Horaires de notre établissement</h2>
        <hr color="black">
        <p>
            Ouverture de 7h30 à 19h <br>
            Garderie de 7h30 à 8h et de 16h30 à 19h <br>
            Etude de 16h45 à 17h45 <br>
            Service de Restauration sur place de 12h à 13h45
        </p>
        <hr color="black">
    </div>


    <br>

    <div class="maps">
        <h2>Voici l'emplacement de notre établissement:</h2>
        <iframe id="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6062.900696647676!2d2.77699406664248!3d50.28939417001118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd4876a03da4e5%3A0xd539c81bd012fd24!2sEcole%20Sainte%20Marie%20de%20la%20Pr%C3%A9sentation!5e0!3m2!1sfr!2sfr!4v1638785443439!5m2!1sfr!2sfr"
        width="100%" height="450" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="contact">
        <hr color="black">
        <h2>Voici nos coordonnées:</h2>
        <div class="coordonnees">
            <div>
                <i class="fa fa-phone"></i> 03 21 51 44 76
            </div>
            <div>
                <i class="fa fa-envelope"></i> lapresentation@orange.fr
            </div>
        </div>
        <hr color="black">
        <h2>Formulaire de contact</h2>
        <form action="">
            <div class="input_form" id="formulaire_contact">
                <div>
                    <input id="Nom"   type="text" placeholder="Nom et Prénom" tabindex="1"/>
                    <input id="Email" type="email" placeholder="Email" tabindex="2"/>
                    <input id="Objet" type="text" placeholder="Objet" tabindex="3"/>
                </div>
                </br></br>
                <textarea id="textarea" tabindex="4"></textarea></br>
            </div>
            <div class="btn_form">
                <input id="btn_contact" type="submit" tabindex="5" value="Envoyer"/></br>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="js/carrousel.js"></script>
{% endblock %}
