{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h4>Classes</h4>

            <hr width="20%" color= "#82b442" align="left">

            {% block listeClasses %}

                <div class="listeClasse">

                    <a class="classe" href="/classe/TPS">
                        <div>
                            <p class="maternelle">Classe de Tres Petite Section<br>
                                Mme Blutheau</p>
                        </div>
                        <img src="img\Classes\TPBlultheau\BlultheauTP.jpg" alt="Classe de Tres Petite Section de Mme Blutheau">
                    </a>

                    <a class="classe" href="/classe/PS-MS">
                        <div>
                            <p class="maternelle">Classe de Petite et Moyenne Sections<br>
                                Mmes Candellier, Guffroy et Delphine</p>
                        </div>
                        <img src="img\Classes\PSMSCandellier\PSCandellier.jpg" alt="Classe de Petite et Moyenne Sections de Mmes Candellier, Guffroy et Delphine">
                    </a>

                    <a class="classe" href="/classe/MS">
                        <div>
                            <p class="maternelle">Classe de Moyenne Section<br>
                                Mme Martinage et Melle Derieux</p>
                        </div>
                        <img src="img\Classes\MSMartinage\Martinage.jpg" alt="Classe de Moyenne Section de Mme Martinage et Melle Derieux">
                    </a>

                    <a class="classe" href="/classe/GS">
                        <div>
                            <p class="maternelle">Classe de Grande section<br>
                                Mme Baudry</p>
                        </div>
                        <img src="img\Classes\GSBaudry\GSBaudry.jpg" alt="Classe de Grande section de Mme Baudry">
                    </a>

                    <a class="classe" href="/classe/CP_1">
                        <div>
                            <p class="coursPreparatoire">Classe de CP<br>
                                Mme Camier</p>
                        </div>
                        <img src="img\Classes\CPCamier\CPCamier.jpg" alt="Classe de CP de Mme Camier">
                    </a>

                    <a class="classe" href="/classe/CP_2">
                        <div>
                            <p class="coursPreparatoire">Classe de CP<br>
                                Mme Caillierez</p>
                        </div>
                        <img src="img\Classes\CPCaille\CPCaille.jpeg" alt="Classe de CP de Mme Caillierez">
                    </a>

                    <a class="classe" href="/classe/CE1">
                        <div>
                            <p class="coursElementaire">Classe de CE1<br>
                                Mme Dourlens</p>
                        </div>
                        <img src="img\Classes\CE1Dourlens\Ce1Dourlens.jpg" alt="Classe de CE1 de Mme Dourlens">
                    </a>

                    <a class="classe" href="/classe/CE12">
                        <div>
                            <p class="coursElementaire">Classe de CE1/CE2<br>
                                Mme Dartois</p>
                        </div>
                        <img src="img\Classes\CE1CE2Dartois\Ce1Dartois.jpg" alt="Classe de CE1/CE2 de Mme Dartois">
                    </a>

                    <a class="classe" href="/classe/CE2">
                        <div>
                            <p class="coursElementaire">Classe de CE2<br>
                                Mmes Tilloy et Desbusquois</p>
                        </div>
                        <img src="img\Classes\CE2Tilloy\Ce2Tilloy.jpg" alt="Classe de CE2 de Mmes Tilloy et Desbusquois">
                    </a>

                    <a class="classe" href="/classe/CM1">
                        <div>
                            <p class="coursMoyen">Classe de CM1<br>
                                M Bosswue</p>
                        </div>
                        <img src="img\Classes\CM1Bosswue\CM1Bossuwe.jpg" alt="Classe de CM1 de M Bosswue">
                    </a>

                    <a class="classe" href="/classe/CM12">
                        <div>
                            <p class="coursMoyen">Classe de CM1/CM2<br>
                                Mmes Dupont et Duhamel</p>
                        </div>
                        <img src="img\Classes\CM1CM2DuhaDup\CM12DuhaDup.jpg" alt="Classe de CM1/CM2 de Mmes Dupont et Duhamel">
                    </a>

                    <a class="classe" href="/classe/CM2">
                        <div>
                            <p class="coursMoyen">Classe de CM2<br>
                                Mmes Cazer et Heil</p>
                        </div>
                        <img src="img\Classes\CM2Cazer\CM2HeilCazer.jpg" alt="Classe de CM2 de Mmes Cazer et Heil">
                    </a>

                </div>

            {% endblock %}

        </div>
    </div>

{% endblock %}
