{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h4>Classes</h4>

            <hr width="20%" color= "#40a4bc" align="left">

            {% block listeClasses %}

                <a class="classe" href="">
                    <p>Classe de Petite et Moyenne Sections de Mmes Candellier, Guffroy et Delphine</p>
                    <img src="img\PSCandellier\PSCandellier.jpg" alt="Classe de Petite et Moyenne Sections de Mmes Candellier, Guffroy et Delphine">
                </a>

                <a class="classe" href="">
                    <p>Classe de Moyenne Section de Mme Martinage et Melle Derieux</p>
                    <img src="img\Martinage\Martinage6.jpg" alt="Classe de Moyenne Section de Mme Martinage et Melle Derieux">
                </a>

                <a class="classe" href="">
                    <p>Classe de Grande section de Mme Baudry</p>
                    <img src="img\BaudryGS\GSBaudry.jpg" alt="Classe de Grande section de Mme Baudry">
                </a>

                <a class="classe" href="">
                    <p>Classe de CP de Mme Camier</p>
                    <img src="img\CamierCP\CPCamier.jpg" alt="Classe de CP de Mme Camier">
                </a>

                <a class="classe" href="">
                    <p>Classe de CP de Mme Caillierez</p>
                    <img src="img\CPCaille\CPCaille.jpeg" alt="Classe de CP de Mme Caillierez">
                </a>

                <a class="classe" href="">
                    <p>Classe de CE1 de Mme Dourlens</p>
                    <img src="img\DourlensCe1\Ce1Dourlens4.jpg" alt="Classe de CE1 de Mme Dourlens">
                </a>
                
                <a class="classe" href="">
                    <p>Classe de CE1/CE2 de Mme Dartois</p>
                    <img src="img\DartoisCe1Ce2\Ce1Dartois4.jpg" alt="Classe de CE1/CE2 de Mme Dartois">
                </a>

                <a class="classe" href="">
                    <p>Classe de CE2 de Mmes Tilloy et Desbusquois</p>
                    <img src="img\Ce2Tilloy\Ce2Tilloy.jpg" alt="Classe de CE2 de Mmes Tilloy et Desbusquois">
                </a>
                
                <a class="classe" href="">
                    <p>Classe de CM1 de M Bosswue</p>
                    <img src="img\CM1Bosswue\CM1Bosswue2.jpeg" alt="Classe de CM1 de M Bosswue">
                </a>

                <a class="classe" href="">
                    <p>Classe de CM1/CM2 de Mmes Dupont et Duhamel</p>
                    <img src="img\CM1CM2DuhaDup\CM12DuhaDup5.jpg" alt="Classe de CM1/CM2 de Mmes Dupont et Duhamel">
                </a>

                <a class="classe" href="">
                    <p>Classe de CM2 de Mmes Cazer et Heil</p>
                    <img src="img\CazerCM2\CM2HeilGazer.jpeg" alt="Classe de CM2 de Mmes Cazer et Heil">
                </a>

                <a class="classe" href="">
                    <p></p>
                    <img src="" alt="Classe de  de Mme ">
                </a>

            {% endblock %}

        </div>
    </div>

{% endblock %}
