{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body  %}

    <div class="container">
    
        <h4>Événements de l'année</h4>
        <hr width="20%" color= "#b1434a" align="left">
    
    <div class="container_event">

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\saintNicolas.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Saint Nicolas</h4>
                <p><em>Date : 28/11/2021</em></p>
                <p>
                    Merci à tous les bénévoles , ainsi qu’à St Nicolas qui nous a fait le plaisir de passer voir les enfants et de leur offrir des bonbons.
                </p>
            </div>
          </div>

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\Evenement_Porte_Ouvertes_Presentation_Arras.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Portes ouvertes</h4>
                <p><em>Date : 27/11/2021</em></p>
                <p>
                    Ce samedi 27 novembre toute l'équipe éducative a été heureuse d’ouvrir les Portes de l'école. Les enfants étaient heureux de la découvrir et de pouvoir 
                    jouer dans les classes. Des élèves ont ainsi fait visiter leur école à leurs grands-parents et des anciens élèves émus de replonger dans leur passé au collège 
                    Jeanne d'Arc ont également pu y participer. N’hésitez pas à nous rejoindre le 29 Janvier, vous êtes les bienvenus !
                </p>
            </div>
          </div>

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\marcheNoel.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Marché de Noëln</h4>
                <p><em>Date : 25/11/2021</em></p>
                <p>
                    Demain c’est le marché de Noël de l’école! N’oubliez pas de munir votre enfant d’un petit porte monnaie avec un peu d’argent 
                    ainsi qu’un sac pour mettre ses achats!
                </p>
            </div>
          </div>

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\messePremiereCommunion.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Messe préparation première communion</h4>
                <p><em>Date : 21/11/2021</em></p>
                <p>
                    Messe de préparation à la première communion en ce jour de fête du roi de l’univers.
                </p>
            </div>
          </div>

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\semaineGout.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Semaine du goût</h4>
                <p><em>Date : 04/11/2021</em></p>
                <p>
                    Devinez à quelle classe appartient cette fabrication pour la semaine du goût et pour leur fête de la forêt! Ne cherchez plus les hérissons poire/chocolat à l’école 
                    les élèves de cette classe les ont dévoré!!!! 
                </p>
            </div>
          </div>

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\sortiePedago.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Sortie pédagogique</h4>
                <p><em>Date : 07/10/2021</em></p>
                <p>
                    Ce matin la classe de Ms de Mme Martinage a profité d’un matinée sans pluie pour aller au bois de Maroeuil. De belles découvertes pour ces petites têtes blondes ! 
                </p>
            </div>
          </div>

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\sortiePedagoStTeres.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Sortie pédagogique</h4>
                <p><em>Date : 29/09/2021</em></p>
                <p>
                    Les CE2 CM1 et CM2 ont été invité à découvrir la vie de ste Thérèse et également le reliquaire présent à l'église Saintt Jean baptiste. 
                </p>
            </div>
          </div>

        <div class="row">
            <div class="column_event left">
                <img src=".\img\Evenement\rentréeClasse.jpg" style="width:100%;">
            </div>
            <div class="column_event right">
                <h4>Rentrée des classes </h4>
                <p><em>Date : 07/09/2021</em></p>
                <p>
                Voilà le premier jour d’école est arrivé. Les nouveaux élèves ont découvert leur nouvelle école. Les autres ont découvert leur nouvelle classe et leur nouveau maitre 
                ou maitresse. Une nouvelle année scolaire qui commence pour ces petits écoliers qui vont apprendre et découvrir de nouvelles choses !
                </p>
            </div>
          </div>

    </div>
</div>

{% endblock %}
