{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body  %}

    <div class= "container">
        <div>
            <h4>Evènements à venir</h4>

            <hr width="20%" color= "#b1434a" align="left">
            <br>

            <div class="event_futur">
            
                <label>⦁	Marché de Printemps</label>
                <label>⦁	Le Carnaval</label>
                <label>⦁	1ère Eucharistie et Baptême</label>
                <label>⦁	Célébrations</label>
                <label>⦁	Rencontres Sportives</label>
                <label>⦁	Sorties Scolaires</label>

            </div>

            <h4>Evènements passés</h4>
    
            <hr width="20%" color= "#b1434a" align="left">
            <br>

            <div class="event_passe">

                <label>⦁	Les portes ouvertes</label>
                <label>⦁	La Kermesse</label>
                <label>⦁	Le Marché de Noël</label>
            </div>
        </div>
    </div>

    <div class="container">

        <div classe="image_event">
            <img src=".\img\Evenement\Evenement_Porte_Ouvertes_Presentation_Arras.jpg">
        </div>

        <h4>Images des événements</h4>

        <hr width="20%" color= "#b1434a" align="left">
        <br>

        <div class="row_event">
            <div class="column_event">
                <div class="contenu">
                    <img src=".\img\Evenement\champignonsPs.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Travaux champignons petite section</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\courmaternelles.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Cours des maternelles</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\crecheCM1.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Crêche des Cm1</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\sapinPetits.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Sapin de Noël</p>
                    </div>
                  </div>
            </div>
            <div class="column_event">
                <div class="contenu">
                    <img src=".\img\Evenement\marcheNoel.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Marche de Noël</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src="..\img\Evenement\noelCollecte.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Collecte de Noël</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\productionPeinture.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Production libre de peinture</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\saintNicolas.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Saint Nicolas</p>
                    </div>
                  </div>
            </div>
            <div class="column_event">
                <div class="contenu">
                    <img src=".\img\Evenement\semaineGout.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Création semaine du goût</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\sortiePedago.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Sortie pédagogique</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\hibouxTpsPs.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Hiboux des petits et très petits</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\pinguinsTpsPs.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Sauvons les pinguins</p>
                    </div>
                  </div>
                  <div class="contenu">
                    <img src=".\img\Evenement\rentréeClasse.jpg" style="width:100%;">
                    <div class="text-block">
                      <p>Rentrée des classes</p>
                    </div>
                  </div>
            </div>
            

          </div>
    </div>
    <br>

{% endblock %}
