{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body  %}

    <div class= "container">
        <div>
            <h4>Evenements à venir</h4>

            <hr width="20%" color= "#b1434a" align="left">

            <div class="event_futur">
            
                <label>⦁	Marché de Printemps</label>
                <label>⦁	Le Carnaval</label>
                <label>⦁	1ère Eucharistie et Baptême</label>
                <label>⦁	Célébrations</label>
                <label>⦁	Rencontres Sportives</label>
                <label>⦁	Sorties Scolaires</label>

            </div>



            <h4>Evenements passés</h4>
    
            <hr width="20%" color= "#b1434a" align="left">

            <div class="event_passer">

                <label>⦁	Les portes ouvertes</label>
                <div class="slideshow-container" id="slider1">

                    <div class="mySlides fade">
                        <img id="image_event" src="img\Evenement\Evenement_Porte_Ouvertes_Presentation_Arras.jpg">
                    </div>
                                
                    <a class="prev" onclick="plusSlides(-1,slider1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1,slider1)">&#10095;</a>
                    
                </div>
                <label>⦁	La Kermesse</label>
                <label>⦁	Le Marché de Noël</label>

                <div class="slideshow-container" id="slider2">

                    <div class="mySlides fade">
                        <img id="image_event" src="img\Evenement\Evenement_Marche_noel_Presentation_Arras.jpeg">
                    </div>

                    <a class="prev1" onclick="plusSlides(-1,slider2)">&#10094;</a>
                    <a class="next1" onclick="plusSlides(1,slider2)">&#10095;</a>
                    
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="js/caroussel.js"></script>
{% endblock %}
