{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h4>Classes</h4>
    
            <hr width="10%" color= "#40a4bc">

            <p>Text</p>
        </div>
    </div>

{% endblock %}
