{% extends 'base.html.twig' %}

{% block body %}
<main>
    <h1>Formulaire de contact</h1>
    <form action="">
        <div class="input_form">
            <input id="Nom"   type="text" placeholder="Nom et Prénom" tabindex="1" autofocus/>
            <input id="Email" type="email" placeholder="Email" tabindex="2"/>
            <input id="Objet" type="text" placeholder="Objet" tabindex="3"/></br></br>
        </div>
        <textarea id="textarea" tabindex="4"></textarea></br>
        <div class="btn_form">
            <input id="btn" type="submit" tabindex="5" /></br>
        </div>
    </form>
</main>
{% endblock %}
