{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
<div class="nav">
    <nav class="navbar">
        <img class="logoecole" src=".\img\logoecole.png">
        <ol>
            <a class="Presentation" href="/presentation">Presentation</a>
            <a class="Classes">Nos Classes</a>
            <a class="Équipe pédagogique">Équipe pédagogique</a>
            <a class="Connexion">Connexion</a>
        </ol>
    </nav>
{% endblock %}
