{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body  %}

<div class= "container">
    <div>
        <h4>Présentation de l'établissement</h4>

        <hr width="20%" color= "#40a4bc" align="left">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh nibh, efficitur sit amet dignissim ac, molestie quis mauris. Nam molestie nunc sit amet luctus dignissim. 
        Suspendisse malesuada diam eget mi feugiat sodales.
        </p>

        <p>
        Sed aliquam, felis ac condimentum sodales, risus tortor varius odio, a pulvinar dui risus ac nunc. Nullam laoreet, orci a ornare tincidunt, ipsum lacus bibendum eros, 
        eu tincidunt mi ligula in metus. Nam tincidunt tortor felis, id porttitor elit blandit at. Aliquam erat volutpat. Morbi sagittis tortor ut orci sagittis pulvinar. 
        Curabitur lorem nulla, varius sed erat mattis, tincidunt rutrum nulla. Donec lacinia ligula eu nunc ultrices, in commodo lorem tincidunt. Phasellus et gravida justo.
        </p>
    </div>
</div>

{% endblock %}
