<nav class="navbar">
    <img class="logoecole" src=".\public\img\logoecole.png">
    <ol>
        <li class="Presentation">Presentation</li>
        <li class="Classes">Nos Classes</li>
        <li class="Équipe pédagogique">Équipe pédagogique</li>
        <li class="Connexion">Connexion</li>
    </ol>
</nav>