{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block background %}
<body background="img\Biblio\Biblio1.jpeg">
    <div class="background">
{% endblock %}

{% block body  %}

    <div class= "container">
        <div class="presentatition_ecole">
            <h4>Présentation de l'établissement</h4>

            <hr width="20%" color= "#40a4bc">

            <p>La vie à l'école Sainte Marie de La Présentation.</p>
            <p>Une école où il fait bon d'apprendre.</p>
            <p>Un enseignement de qualité, des grandes classes.</p>
            <p>Deux cours maternelle et Primaire.</p>
            <p>Un accueil dès 2 ans, un accès handicapé.</p>
            <p>La semaine sur 4 jours, un accueil de 7h30 à 19h.</p>
            <p>Une ambiance familiale...</p>
            <p>Le respect de chacun.</p>
        </div>
        <p>
        L'établissement Sainte Marie de la Présentation se trouve à 5 minutes de la gare à pied. <br>
        Nous accueillons les enfants de 2 à 11 ans, allant de la toute petite section (TPS) au cm2, domiciliés à Arras et à ses alentours.
        </p>
        <p>

            <!-- Container for the image gallery -->
            <div class="container">

                <!-- Full-width images with number text -->
                <div class="mySlides">
                    <img src=".\img\CoursRecre\cours.jpeg" id="image_presentation">
                </div>
            
                <div class="mySlides">
                    <img src=".\img\Biblio\Biblio1.jpeg" id="image_presentation">
                </div>
            
                <div class="mySlides">
                    <img src=".\img\Garderie\garderieMarternelle.jpg" id="image_presentation">
                </div>
            
                <div class="mySlides">
                    <img src="..\img\Classes\CE1CE2Dartois\Ce1Dartois1.jpg" id="image_presentation">
                </div>
            
                <div class="mySlides">
                    <img src=".\img\Facade\facade5.jpeg" id="image_presentation">
                </div>
            
                <div class="mySlides">
                    <img src=".\img\Facade\facade5.jpeg" id="image_presentation">
                </div>
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
                <!-- Image text -->
                <div class="caption-container">
                <p id="caption"></p>
                </div>
            
                <!-- Thumbnail images -->
                <div class="row">
                <div class="column">
                    <img class="demo cursor" src=".\img\CoursRecre\cours.jpeg" style="width:100%" onclick="currentSlide(1)" alt="Cours de récréation">
                </div>
                <div class="column">
                    <img class="demo cursor" src=".\img\Biblio\Biblio1.jpeg" style="width:100%" onclick="currentSlide(2)" alt="Bibliothèque">
                </div>
                <div class="column">
                    <img class="demo cursor" src=".\img\Garderie\garderieMarternelle.jpg" style="width:100%" onclick="currentSlide(3)" alt="Garderie">
                </div>
                <div class="column">
                    <img class="demo cursor" src=".\img\Classes\CE1CE2Dartois\Ce1Dartois1.jpg" style="width:100%" onclick="currentSlide(4)" alt="Classe de CE1">
                </div>
                <div class="column">
                    <img class="demo cursor" src=".\img\Facade\facade5.jpeg" style="width:100%" onclick="currentSlide(5)" alt="Façade">
                </div>
                <div class="column">
                    <img class="demo cursor" src=".\img\Facade\facade5.jpeg" style="width:100%" onclick="currentSlide(6)" alt="Façade">
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background">
        <br>
        <hr width="20%" color= "#40a4bc">
        <div class= "div_presentation">
            <div class="Reglement_interieur">
                <i class="fas fa-file-pdf"></i>
                <a href="PDF\Reglement\REGLEMENT INERIEUR DE L ECOLE SAINTE MARIE DE LA  PRESENTATION.pdf">Notre réglement intérieur</a>
                <hr width="20%" color= "#40a4bc">
            </div>
            <div class="Projet_éducatif">
                <i class="fas fa-file-pdf"></i>
                <a href="PDF\Projet_éducatif\Projet_éducatif.pdf" >Le Projet éducatif</a>
                <hr width="20%" color= "#40a4bc">
            </div>
            <div class="Volet_Pastoral">
                <label id="titre_pastoral">Volet Pastoral</label>
                <p>
                    L’école Catholique d’enseignement où vous avez inscrit votre enfant est un lieu d’éducation animé par l’esprit évangélique. <br>
                    Nous proposons et favorisons :
                </p>    

                <p>
                    <ul>
                        <li>La première annonce,</li>
                        <li>Une formation Catéchétique comme dans la paroisse</li>
                        <li>Une culture chrétienne,</li>
                        <li>Une éducation à la prière (Temps forts, célébrations),<br> et aux sacrements (baptême et eucharistie)</li>
                        <li>Une participation à des actions au service des autres,</li>
                    </ul>
                </p>

                <p>
                    Dans le respect de chacun….
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="js/carrouselPres.js"></script>
{% endblock %}