{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body  %}

<div class= "container">
    <div>
        <h4>Présentation de l'établissement</h4>

        <hr width="20%" color= "#40a4bc" align="left">
        
        <p>
            L’école Catholique d’enseignement où vous avez inscrit votre enfant est un lieu d’éducation animé par l’esprit évangélique. <br>
            Nous proposons et favorisons :
        </p>    

        <p>
            <ul>
                <li>La première annonce,</li>
                <li>Une formation Catéchétique comme dans la paroisse</li>
                <li>Une culture chrétienne,</li>
                <li>Une éducation à la prière (Temps forts, célébrations),<br> et aux sacrements (baptême et eucharistie)</li>
                <li>Une participation à des actions au service des autres,</li>
            </ul>
        </p>

        <p>
            Dans le respect de chacun….
        </p>

        <div class="slideshow-container">

            <div class="mySlides fade">
              <img src=".\img\Facade\facade1.jpeg" id="image_presentation">
            </div>
            
            <div class="mySlides fade">
              <img src=".\img\Facade\facade2.jpeg" id="image_presentation">
            </div>
            
            <div class="mySlides fade">
              <img src=".\img\Facade\facade3.jpeg" id="image_presentation">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>

        <p>
            In aliquet malesuada ipsum sollicitudin blandit. Integer in leo augue. Proin gravida scelerisque ullamcorper. Curabitur dapibus lorem in venenatis suscipit. 
            Suspendisse luctus malesuada quam, et mollis nisl sollicitudin cursus. Nulla justo ex, suscipit sit amet sapien vitae, sodales ultrices lectus. Sed dapibus mattis quam 
            scelerisque interdum. Mauris sit amet laoreet ipsum. Phasellus vitae dignissim sem. Etiam blandit quam et neque fringilla, eget tincidunt sapien ornare. Sed malesuada enim 
            sed nisl euismod, eget posuere eros fermentum. Curabitur et pharetra velit. Nullam egestas fermentum condimentum. Maecenas a bibendum elit.Phasellus eu vulputate ipsum, maximus dapibus urna. Nullam rutrum massa sit amet faucibus placerat. Nullam at est dui. Donec elit lacus, tempus ut ante at, suscipit tempus lectus. Aenean nec arcu eu dolor commodo semper. Integer semper ligula enim, vitae sagittis odio aliquet ut. Donec non aliquam enim.
        </p>
        
    </div>
</div>

{% endblock %}
