{% extends 'base.html.twig' %}
    
{% block title %}Template de Classe{% endblock %}


{% block favicon %}
<link rel="icon" type="image/png" href="../favicon.png">
{# if you need to change the address #}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ '../css/style.css' }}"/>
{% endblock %}


{% block body %}

    <div class="container">
        <div>
            <h4>{% block nomClasse %}{% endblock %}</h4>

            <hr width="20%" color= "#82b442" align="left">

            {% block carrousel %}
            
            {% endblock %}
            
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="../js/carrousel.js"></script>
{% endblock %}