{% extends 'base.html.twig' %}
    
{% block title %}{{class}}{% endblock %} {# insert of title (3 letters id) #}


{% block favicon %}
<link rel="icon" type="image/png" href="../favicon.png">
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ '../css/style.css' }}"/>
{% endblock %}


{% block body %}

    <div class="container">
        <div>
            <h4>{% block nomClasse %}{{className}}{% endblock %}</h4> {# insert of class name (full desc) #}

            <hr width="20%" color= "#82b442" align="left">

            {# block carrousel #}
                <div class="slideshow-container">

                    <div class="mySlides">
                        <img class="image_accueil" src="..\img\Facade\facade5.jpeg">
                    </div>

                    <div class="mySlides">
                        <img class="image_accueil" src="..\img\CoursRecre\cours.jpeg">
                    </div>

                    <div class="mySlides">
                        <img class="image_accueil" src="..\img\Biblio\Biblio1.jpeg">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                </div>
            {# endblock #}

        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="../js/carrousel.js"></script>
{% endblock %}