{% extends 'base.html.twig' %}

{% block title %}Equipe Pédagogique{% endblock %}

{% block body  %}

<div class= "container">
    <div>
        <h4>Équipe pédagogique</h4>

        <hr width="20%" color= "#ea7d44" align="left">

        <p>
            <img src=".\img\Equipe\equipePeda.jpeg" classe="equipePeda">
        </p>

        <p>
            En partant du haut, de gauche à droite, nous avons..., puis en bas de gauche à droite également, nous avons...
        </p>
    </div>
</div>

{% endblock %}
