{% extends 'base.html.twig' %}

{% block title %}Equipe Pédagogique{% endblock %}

{% block body  %}

    <div class= "container">
        <div>
            <h4>Équipe pédagogique</h4>

            <hr width="20%" color= "#ea7d44" align="left">

            <p>
                <img src=".\img\Equipe\equipePeda.jpeg" classe="equipePeda">
            </p>

            <div>
                <p>
                    En partant du haut, de gauche à droite, nous avons:
                </p>
                <p>
                    Mme CUVELLIER Pauline (AESH) , Mme DAUSSE Emelina AESH, Mme DOURLENS CE1, Mme BAUDRY GS, Mme CAMIER GS/CP, Mme CANDELIER PS/MS, Mme BULTEAU TPS/PS, 
                    Mr BOSSUWE CM, Mme HEIL CM2, Mme Marie Christine (secrétaire)
                </p>
            </div>

            <div>
                <p>
                    Et en bas de gauche à droite également, nous avons:
                </p>
                <p>
                    Mme JOLIBOIS Camille ( ASEM) , Mme MERCIER  Isabelle (ASEM), Melle GUFFROY  PS-MS, Mme MARTINAGE MS , Mme ALISSE Chef d’établissement, 
                    Mme DARTOIS CE1/CE2, Mme TILLOY CE2 , Mme DUHAMEL CM1/CM2 , Mme CAILLIERIEZ CP, Mme BUISIERE Delphine (ASEM)
                </p>
            </div>
        </div>
    </div>

{% endblock %}
