{% extends 'base.html.twig' %}

{% block title %}Adminsitration{% endblock %}

{% block body %} 

<div class="container">

    <h4>Gestion du site</h4>

    <hr width="20%" color= "#6c879a" align="left"> </br>

    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Ajouter un article</button>
    </div>
    </br>
    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Ajouter une classe</button>
    </div>
    </br>
    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Ajouter un événement</button>
    </div>
    </br>
    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Gestion des comptes</button>
    </div>
    </br>
    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Modifier le contenu</button>
    </div>
    </br>
    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Modifier une classe</button>
    </div>
    </br>
    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Ajouter un événement</button>
    </div>
    </br>
    <div class="btn_form_contact">
        <button id="btn" tabindex="5" onclick=""/>Ajouter l'image de fond</button>
    </div>
    </br>
</div>

{% endblock %}
