/*   Font   */

* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

/*____________________________________________________________*/

/*   HEADER   */

header { 
    min-height: 15%;
}

ul.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(216, 216, 216);
}

.presentation a {
    color: #40a4bc;
}

.classes a {
    color: #82b442;
}

.equipe a {
    color: #ea7d44;
}

.evenements a {
    color: #b1434a;
}

.connexion {
    margin-right: 40px
}

.connexion a {
    color: white; /* switch to black once user control is functional */
}

#logoecole {
    width: 200px;
}

@media (max-width: 800px) {
    ul.horizontal {
        flex-direction: column;
    }
}

/*____________________________________________________________*/

/*    BODY    */

body{
    margin: unset;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
}

.background{
    background: rgba(255, 255, 255, 0.5);
}

.nobackground {
    background: white;
}

/*____________________________________________________________*/

/*    SOCIAL BAR / Perm_content   */

#gmaps {
    border: 0;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.map-marker {
    background: red;
    color: white;
}

.envelope {
    background: grey;
    color: white;
}

/*____________________________________________________________*/

/*   Containers   */

.container{
    display: column;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    position: relative;
}

/*____________________________________________________________*/

/*   carrousel  */

#image_presentation {
    width: 100%;
}

#image_event{
    height: 400px;
}

.image_accueil{
    height: 400px;
}

.image_classe{
    height: 400px;
}

.slideshow-container .mySlides{
    text-align: center;
}

.mySlides { /* Hide the images by default */
    display: none;
}

.cursor { /* Add a pointer when hovering over the thumbnail images */
    cursor: pointer;
}

.prev,
.next { /* Next & previous buttons */
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.next { /* Position the "next button" to the right */
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover { /* On hover, slightly darkens the black background color */
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext { /* Number text (1/n) */
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container { /* Container for image text */
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column { /* Six columns side by side */
    float: left;
    width: 16.66%;
}

.demo { /* Add a transparency effect for thumbnail images */
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/*____________________________________________________________*/

/*   Accueil   */

.maps {
    text-align: center;
}

#gmaps {
    border: 0;
}

.coordonnees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coordonnees i {
    color: red;
}

.contact {
    background-color: #C4C4C4;
    text-align: center;
}

.input_form div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

#Nom,
#Email,
#Objet {
    height: 40px;
    width: 250px;
    border-radius: 10px;
}

#textarea {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    resize: none;
}

.btn_form{
    text-align: right;
    padding-right: 65px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#btn_contact {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

/*____________________________________________________________*/

/*   Classes   */

a.classe div{
    padding-top: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
    text-align: center;
    color: black ;
}

a.classe *{
    width: 400px;
}

a.classe {
    text-decoration: none;
}

a.classe img{
    padding-right: 10px;
    padding-left: 10px;
}

.titre {
    text-align: center;
    color: #2F2C2C;
}

.listeClasse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

.maternelle {
    color: #40a4bc;
}

.coursPreparatoire {
    color: #82b442;
}

.coursElementaire {
    color: #ea7d44;
}

.coursMoyen {
    color: #b1434a;
}

a.retour {
    text-decoration: none;
    color: black;
}

/*____________________________________________________________*/

/*   Equipe pedagogique   */

#equipePeda { /* taille image equipe pedagogique */
    width: 100%;
}

.listEquipe{
    margin-left: 20px;
}

/*____________________________________________________________*/

/*   Evenements   */

.event_futur {
    display: flex;
    flex-direction: column;
}

.event_passe {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.row_event {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column_event { /* Create two equal columns that sits next to each other */
    flex: 50%;
    padding: 0 4px;
}

.image_event {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/*____________________________________________________________*/

/* Connexion  */

#Form_connexion {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-right: 40%;
}

#Form_connexion input{
    margin-top: 1%;
    margin-bottom: 1%;
}
#btn_connexion {
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 8px;
}

/*____________________________________________________________*/

/* Mentions légales */

.mentions-container {
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif;
} 

.mentions-container code {
    background: #F5F5F5; 
    padding: 2px 6px; 
}

/*____________________________________________________________*/

/*   FOOTER   */

footer {
    background-color: #2F2C2C;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    min-height: 15%;
}

.footer {
    display: flex;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer div {
    padding-left: 3%;
}

.mentions {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
    flex-grow: 2;
}

footer a {
    text-decoration: unset;
    color: unset;
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .mentions {
        flex-direction: row;
        margin-right: 0px;
    }
}

/*____________________________________________________________*/
